<ion-header>
  <ion-toolbar>
    <div style="display:flex; align-items:center; justify-content:space-between; width:100%;">
      <ion-button fill="clear" disabled>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-title style="text-align:center;">
        {{ formattedDate }}
      </ion-title>

      <ion-button fill="clear" disabled>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      Zatím žádné streaky.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-streak">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
